.container {
    width: 260px;
    padding: 20px;
    border: 1px solid #d1c1c1;
    border-radius: 10px;
    text-align: center;
    margin: 50px auto;
    background: rgb(65, 62, 62);
}
input {
    width: 240px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 18px;
}
button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}
#first, #last{
    background: rgb(218, 102, 102);
}
#first:hover{
    color: rgb(14, 71, 14);

}
button:hover{
    background: rgb(15, 185, 72);
}

